# Logs and Databases
bin/cache.dump

# OS temporary files
.DS_Store
Thumbs.db

# Backup files
*.bak*
*.tmp
*~

# MosDNS local bin & resources
bin/mosdns
bin/mosdns.zip
bin/LICENSE
bin/README.md
bin/config.yaml
bin/*.txt
!bin/local-domain.txt
bin/*.conf
bin/*.conf2

# IDEs and Editors
.vscode/
.idea/
*.swp
