# Logs and Databases
bin/cache.dump
bin/*.db
bin/*.db-wal
bin/*.db-shm
*.db
*.db-wal
*.db-shm

# Compiled Binaries
bin/mosdns-panel
panel/mosdns-panel
panel/panel

# OS temporary files
.DS_Store
Thumbs.db

# Backup files
*.bak*
*.tmp
*~

# MosDNS local bin & resources
bin/mosdns
bin/mosdns.zip
bin/LICENSE
bin/README.md
bin/config.yaml
bin/*.txt
!bin/local-domain.txt
bin/*.conf
bin/*.conf2

# IDEs and Editors
.vscode/
.idea/
*.swp
